In [3]:
print("C:\\Windows")

C:\Windows

# 연산

1.

In [36]:
kmh = float(input("km/h 값을 입력하세요")) #km/h 값 받기
M_VALUE = 0.6214 #상수
mph = M_VALUE * kmh # mph 값 계산하기
print("당신의 속도는 ", mph, "MPH입니다", sep="")

km/h 값을 입력하세요 90

당신의 속도는 55.925999999999995MPH입니다

In [40]:
# 일반적인 활용
kmh = int(input('현재 속도를 km/h로 입력하세요. '))
if kmh >= 0 :
    mph = M_VALUE * kmh
    print(f' {kmh}를 mph로 변환하면 {mph}입니다.')
else :
    print('속도를 양수로 입력하세요.')

현재 속도를 km/h로 입력하세요.  0

 0를 mph로 변환하면 0.0입니다.

2.

In [41]:
import calendar
theyear = 2026
themonth = 1
print(calendar.month(theyear, themonth))

    January 2026
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [43]:
import calendar
theyear = int(input("연도를 입력하세요 :"))
themonth = int(input("월을 입력하세요 :"))
print(calendar.month(theyear, themonth))

연도를 입력하세요 : 2002
월을 입력하세요 : 2

   February 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28

In [58]:
import calendar
theyear = int(input("연도를 입력하세요 :"))

if theyear < 1 :
    print("연도를 정확히 입력해주세요.")
else : themonth = int(input("월을 입력하세요 :")) 
if themonth > 12 or themonth < 1 :
    print("월을 정확히 입력해주세요.")
else : print(calendar.month(theyear, themonth))

연도를 입력하세요 : 2002
월을 입력하세요 : 2

   February 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28

3.

In [66]:
first = float(input('첫번째 숫자를 입력하세요 :'))
second = float(input('두번째 숫자를 입력하세요 :'))
mul = (first*second)
add = (first + second)
print("First is ", first, ", and second is ", second, ". So, Multiplication = ", first*second, ", addition = ", first+second, sep="")

첫번째 숫자를 입력하세요 : 4.3
두번째 숫자를 입력하세요 : 5.21

First is 4.3, and second is 5.21. So, Multiplication = 22.403, addition = 9.51

In [78]:
first = float(input('첫번째 숫자를 입력하세요 :'))
second = float(input('두번째 숫자를 입력하세요 :'))
mul = (first*second)
add = (first + second)
output = f'First is {first}, and second is {second}. '\
        + f'So, Multiplication = {mul:.3f},'\
        + f' addition = {add:.2f}'#숫자f의 소수점까지
print(output)

첫번째 숫자를 입력하세요 : 4.3
두번째 숫자를 입력하세요 : 5.21

First is 4.3, and second is 5.21. So, Multiplication = 22.403, addition = 9.51

3. x는 15가 나온다 (가장 마지막에 입력한 값이기에)

In [80]:
x = 10
x = 20
x = 15
print(x, type(x))

15 <class 'int'>

In [81]:
y = 3
z = x/y
z, type(z) #나누기는 int를 float으로 만든다

(5.0, float)

4.

In [22]:
a = int(input("가로의 길이는? :"))
b = int(input("세로의 길이는? :"))
Area = a*b
Perimeter = 2*(a+b)
print("넓이는:", Area, "둘레는:", Perimeter)

가로의 길이는? : 11
세로의 길이는? : 7

넓이는: 77 둘레는: 36

5.

In [83]:
x = int(input("숫자를 입력하세요. :"))
if x % 2 == 0 :
    print(f"{x}는 짝수입니다")
else :
    print(f"{x}는 홀수입니다")

숫자를 입력하세요. : 35

35는 홀수입니다

6.

In [84]:
a = 20
area = 6*(a**2)
volume = a**3
print("표면적은:", area, "부피는:", volume)

표면적은: 2400 부피는: 8000

7.

In [28]:
x = 4
y = 2
z = abs(x-y) * (x+y)
print(z)

12

# 복합자료형 연습문제

1.

In [1]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
numbers[0] + numbers[-1]

110

2.

In [17]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
print(colors[0:3])
print(colors[-2:])

['red', 'green', 'blue']
['orange', 'black']

3.

In [19]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]
print(list_a[2][1])

korean

4.

In [20]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a + list_b
print(list_c)

[1, 2, 3, 4, 5, 6]

5.

In [2]:
tuple_a = ("apple", "banana", "cherry")
list_a = list(tuple_a)
list_a[1].

'banana'