# 리스트

[] 대괄호로 여러 값을 하나의 변수로 묶어주는 자료구조

In [2]:
score = [ 20,30,50,90,100 ] 
score[0] #첫번째 학생 점수
score[4], score[-1] #마지막 학생 점수

(100, 100)

In [3]:
fruits = ['사과', '바나나', '포도' ]
mixed = ['사과', 20, '바나나', 30, True]
matrix = [[1,2], [3,4]]

In [4]:
matrix[0]

[1, 2]

In [5]:
matrix[0][0]

1

In [6]:
matrix[0], matrix[0][0]

([1, 2], 1)

In [9]:
fruits = ['사과', '바나나', '포도']
fruits[0], fruits[1:3]

('사과', ['바나나', '포도'])

In [10]:
str(fruits)

"['사과', '바나나', '포도']"

In [22]:
s_list = 'Hello'
n_list = list(s_list)
type(n_list), n_list

(list, ['H', 'e', 'l', 'l', 'o'])

In [23]:
n_list[0] = 'h'

In [19]:
n_list

['h', 'e', 'l', 'l', 'o']

In [31]:
str(n_list) #함수

"['h', 'e', 'l', 'l', 'o']"

In [32]:
''.join(n_list) #공백 문자로 리스트 값 부치기 #객체를 이용한 동작(메소드)

'hello'

In [33]:
# method, function  함수

In [34]:
#메소드는 주체가 있다, 함수는 주체가 없고 기능을 넣어줘야한다

In [35]:
#메소드 : 객체에 종속되어있는 함수

In [36]:
#함수: 기능의 집합

In [39]:
list('hello') #문자열로 리스트 생성

['h', 'e', 'l', 'l', 'o']

In [41]:
ss = [1,2,3,4] #리스트 표현으로 생성하기

In [48]:
a = range(5)
list(a)
type(a)

range

In [47]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [49]:
dir(ss)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [51]:
#리스트는 mutable, 하지만 커널에서 메모리를 많이 사용한다

## 복사 (얕은 복사) shallow copy

In [55]:
score = [10,20,30,40,50]
score

[10, 20, 30, 40, 50]

In [62]:
new_score = score
new_score

[10, 20, 30, 40, 50]

In [63]:
new_score[0] = 100
new_score

[100, 20, 30, 40, 50]

In [64]:
score

[100, 20, 30, 40, 50]

## 깊은 복사 deep copy

In [65]:
import copy
new_score_1 = copy.copy(score)
new_score_1[1] = 99
new_score_1, score

([100, 99, 30, 40, 50], [100, 20, 30, 40, 50])

## 리스트의 연산자 + *

In [66]:
lunch_1 = ['쏨땀', '닭가슴살', '피자']
lunch_2 = ['팟타이', '라멘']
lunch_1 + lunch_2

['쏨땀', '닭가슴살', '피자', '팟타이', '라멘']

In [68]:
lunch_1 * 2  #리스트끼리 곱하기는 안된다

['쏨땀', '닭가슴살', '피자', '쏨땀', '닭가슴살', '피자']

In [69]:
del lunch_1[0]
print(lunch_1)

['닭가슴살', '피자']

In [70]:
'떡볶이' in lunch_1

False

In [71]:
'닭가슴살' in lunch_1

True

In [72]:
'a' in 'abcd'

True

In [73]:
#연습문제

In [87]:
snack_box = []
#먹고싶은 간식을 입력받아서 추가하세요

In [101]:
snack_box = []
new_snack = input('먹고 싶은 간식을 알려주세요').split(',')
snack_box += new_snack
snack_box

먹고 싶은 간식을 알려주세요 홈런볼, 아이스크림, 초콜릿, 케이크

['홈런볼', ' 아이스크림', ' 초콜릿', ' 케이크']

In [102]:
n = int(input('몇 박스가 필요하세요?'))
snack_box *= n
snack_box

몇 박스가 필요하세요? 2

['홈런볼', ' 아이스크림', ' 초콜릿', ' 케이크', '홈런볼', ' 아이스크림', ' 초콜릿', ' 케이크']

In [92]:
#뺴고 싶은 간식이 있으면 번호를 입력하세요

In [103]:
del_n = int(input("빼고 싶은 간식의 번호를 입력해주세요 : "))
del snack_box[del_n]
snack_box

빼고 싶은 간식의 번호를 입력해주세요 :  3

['홈런볼', ' 아이스크림', ' 초콜릿', '홈런볼', ' 아이스크림', ' 초콜릿', ' 케이크']

In [104]:
#찾고 있는 간식이름을 입력하세요

In [107]:
f_name = input('찾고 있는 간식이름을 입력하세요')
if f_name in snack_box :
    print('있어요!!')
else :
    print('없네요...')

찾고 있는 간식이름을 입력하세요 홈런볼

있어요!!

In [115]:
print(snack_box[:-1])

[' 케이크', ' 초콜릿', ' 아이스크림', '홈런볼', ' 초콜릿', ' 아이스크림']

In [118]:
snack_box.reverse()
print(snack_box) #양이 많을 때는 메소드를 사용하여 안전하게

[' 케이크', ' 초콜릿', ' 아이스크림', '홈런볼', ' 초콜릿', ' 아이스크림', '홈런볼']

## ==, is

In [1]:
lunch_1 = ['주먹밥', '치킨', '칼국수']
lunch_2 = ['주먹밥', '치킨', '칼국수']
lunch_1 == lunch_2

True

In [2]:
id(lunch_1) ==  id(lunch_2)

False

In [3]:
lunch_1 is lunch_2

False

In [5]:
# is 는 주소값이 같은지를 보여준다 ( id () == id() 와 같다)

In [35]:
students = [{'num':'1','name':'kim', 'kor':80,'math':90, 'eng' :100},
            {'num':'2','name':'park', 'kor':90, 'math':80, 'eng':90},
            {'num':'3','name':'park', 'kor':90, 'math':80, 'eng':90},
            {'num':'4','name':'park', 'kor':90, 'math':80, 'eng':90},
            {'num':'5','name':'hong', 'kor':75, 'math':60, 'eng':80}] #복합자료형도 넣을 수 있다

In [29]:
#인덱싱하기
students[4]['kor']

75

In [36]:
#for문 사용 
for stu in students:
    stu['total'] = stu['kor']+stu['math']+stu['eng'] #total이 생김
    print(stu['total'])
    #print('\n')

270
260
260
260
215

In [72]:
students

[{'num': '1',
  'name': 'kim',
  'kor': 80,
  'math': 90,
  'eng': 100,
  'total': 270,
  'average': 90.0},
 {'num': '2',
  'name': 'park',
  'kor': 90,
  'math': 80,
  'eng': 90,
  'total': 260,
  'average': 86.67},
 {'num': '3',
  'name': 'park',
  'kor': 90,
  'math': 80,
  'eng': 90,
  'total': 260,
  'average': 86.67},
 {'num': '4',
  'name': 'park',
  'kor': 90,
  'math': 80,
  'eng': 90,
  'total': 260,
  'average': 86.67},
 {'num': '5',
  'name': 'hong',
  'kor': 75,
  'math': 60,
  'eng': 80,
  'total': 215,
  'average': 71.67}]

In [73]:
#평균 구하기
for stu in students:
    stu['average'] = round((stu['total'] / 3), 2) #round(a,숫자) 는 소수 숫자 자리수로 반올림해준다.
    print(stu['average'])

90.0
86.67
86.67
86.67
71.67

In [74]:
for stu in students:
    print(stu)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270, 'average': 90.0}
{'num': '2', 'name': 'park', 'kor': 90, 'math': 80, 'eng': 90, 'total': 260, 'average': 86.67}
{'num': '3', 'name': 'park', 'kor': 90, 'math': 80, 'eng': 90, 'total': 260, 'average': 86.67}
{'num': '4', 'name': 'park', 'kor': 90, 'math': 80, 'eng': 90, 'total': 260, 'average': 86.67}
{'num': '5', 'name': 'hong', 'kor': 75, 'math': 60, 'eng': 80, 'total': 215, 'average': 71.67}

In [77]:
for stu in students:
    sorted(stu['total'])

ValueError: invalid literal for int() with base 10: 'total'

빠르게 처리하기 위해 시퀀스 사용

In [47]:
# 리스트의 정렬

In [51]:
num = [5,2,9,3,4] 
num.sort() #num 자체를 바꿔버리기
num

[2, 3, 4, 5, 9]

In [54]:
num = [5,2,9,3,4]
new_num = sorted(num) #원본은 바뀌지 않는다

In [55]:
num

[5, 2, 9, 3, 4]

In [56]:
new_num

[2, 3, 4, 5, 9]

In [78]:
# 리스트의 메소드

In [79]:
fruits = ['포도', '귤', '멜론', '홍시']
fruits.append('멜론')
fruits

['포도', '귤', '멜론', '홍시', '멜론']

In [88]:
fruits.insert(1, '수박')

In [89]:
fruits #1번 자리 앞에 넣어짐

['포도', '수박', '귤', '멜론', '홍시', '멜론']

In [90]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [91]:
fruits.remove('수박')
fruits

['포도', '귤', '멜론', '홍시', '멜론']

In [95]:
fruits.pop(-1) #마지막 하나가 사라짐
fruits

['홍시', '멜론', '귤']

In [99]:
fruits.reverse() #순서 반대로 
fruits

['귤', '멜론', '홍시']

# 리스트의 특징

In [107]:
data = list(range(-100,100))
print(data)

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [108]:
print(len(data))

200

In [109]:
#리스트에서 양수만 남긴다
#for x in data:
#    if x < 0 :
#        data.remove(x)
filtered = []
for x in data:
    if x >= 0 :
        filtered.append(x)

In [110]:
filtered

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [111]:
list_3 = [1,3,5,4,2]
sorted(list_3, reverse=True)

[5, 4, 3, 2, 1]

In [141]:
num = [1,3,5,4,2]
num.sort(reverse=True)
num

[5, 4, 3, 2, 1]

In [140]:
import re
list_4 = ['Life', 'is', 'too', 'short'] 
new_list_4 = str(list_4)
re.sub(r"\s+"," ", new_list_4)

"['Life', 'is', 'too', 'short']"

In [142]:
words = ['Life', 'is', 'too', 'short']
' '.join(words)

'Life is too short'

In [143]:
list_5 = [1, 3, 5, 7, 9] 
first = list_5.pop(0)
list_5.append(first)
list_5

[3, 5, 7, 9, 1]

# 튜플

In [147]:
tuple1 = 1,2,3
tuple1, type(tuple1)

((1, 2, 3), tuple)

In [150]:
tuple2 = tuple([1,2,3])
tuple2

(1, 2, 3)

In [151]:
t3 = (2)
t3, type(t3)

(2, int)

In [153]:
#값이 하나여도 ,를 넣으면 튜플이 된다
t3 = (2,) 
t3, type(t3)

((2,), tuple)

In [156]:
t = (10,20,30,40,50)
t[1], t[-1]

(20, 50)

In [157]:
t[2:4]

(30, 40)

In [159]:
t[::-1]

(50, 40, 30, 20, 10)

In [160]:
t[0]=20

TypeError: 'tuple' object does not support item assignment

In [161]:
t_list = list(t)
t_list[0] = 20
t_new = tuple(t_list)
t_new

(20, 20, 30, 40, 50)

In [1]:
# 패킹, 언패킹

In [2]:
nums = [1,2,3]
nums

[1, 2, 3]

In [4]:
nums = (1,2,3) #패킹
x,y,z = nums
x,y,z, nums #언패킹

(1, 2, 3, (1, 2, 3))

In [6]:
student = ['hong', 20, '1학년']
student[0] +" "+ str(student[1]) +" "+ student[2]

'hong 20 1학년'

In [7]:
student_tuple = ('hong', 20, '1학년')

In [9]:
name, age, grade = ('hong', 20, '1학년')
name + str(age) + grade

'hong201학년'

In [19]:
x=1
y=2

In [11]:
x

1

In [13]:
tmp = x
x = y
y = tmp
print(x, y)

2 1

In [20]:
x,y = y,x

In [21]:
x,y

(2, 1)

# 딕셔너리

In [54]:
person = {"name":'alice', 'age': 25, 'city':'seoul'}
person_1 = {"name":'yee', 'age': 21, 'city':'seoul'}

In [23]:
person_1

{'name': 'yee', 'age': 21, 'city': 'seoul'}

In [24]:
person["name"]

'alice'

In [26]:
str(person["age"]) +" "+ person["city"]

'25 seoul'

In [27]:
person_1["name"]

'yee'

In [28]:
person_1["age"]

21

In [29]:
person["city"]

'seoul'

In [35]:
for per in person:
    print(per) #key

name
age
city

In [36]:
for per in person.values():
    print(per) #value

alice
25
seoul

In [37]:
for per, val in person.items():
    print(per, val) #key:value 1쌍

name alice
age 25
city seoul

In [39]:
person.get('직업')

In [40]:
person.get('age')

25

In [42]:
print(person.get("직업", "정보 없음"))

d = {"a":1, "b":2}
print( list(d.keys()) )
print( list(d.values()) )
for k,v in d.items() :
    print(k,v)

print(d.get("x",0) )

정보 없음
['a', 'b']
[1, 2]
a 1
b 2
0

In [45]:
person = {"이름": "Alice", "나이": 25}
person.update({"나이": 26, "직업": "개발자"})
print(person)

{'이름': 'Alice', '나이': 26, '직업': '개발자'}

In [46]:
print(person.keys())

dict_keys(['이름', '나이', '직업'])

In [47]:
print(person.items())

dict_items([('이름', 'Alice'), ('나이', 26), ('직업', '개발자')])

In [48]:
print(person.pop("나이"))

26

In [49]:
print(person.items())

dict_items([('이름', 'Alice'), ('직업', '개발자')])

In [50]:
person

{'이름': 'Alice', '직업': '개발자'}

In [57]:
job_cur_status = person.get('직업', '정보없음')

In [60]:
if job_cur_status == '정보없음':
    new_job = input('직업을 입력해주세요')
    person.update({'job': new_job})
    print(person.get('job'))

직업을 입력해주세요 개발자

개발자

# 집합

In [61]:
집합1 = set([1,2,3,4]) #값은 자료구조로
집합1

{1, 2, 3, 4}

In [64]:
집합2 = set([1,2,3,4,4,3]) #중복되는 것은 사라진다

In [65]:
집합2

{1, 2, 3, 4}

In [66]:
집합3 = set([1,2,3,4]*10)
집합3

{1, 2, 3, 4}

In [ ]:
# 집합연산
union(), intersection(), difference()

In [67]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A|B)
print(A&B)
print(A-B)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}