# Series

In [1]:
import pandas as pd

시리즈 : 컬럼 + 인덱스 형식으로 저장, 관리, (리스트/배열과 유사한 형태)
* 컬럼 : 1차원 데이터의 모음 - 1개 컬럼
* 컬럼들 > 데이터프레임

데이터프레임 : 컬럼들 + 인덱스, 엑셀 표(테이블)과 유사한 형태

In [ ]:
s1 =pd.Series([10, 20, 30]) #__init__(self, 리스트객체)
s1[0:2]

0    10
1    20
dtype: int64

In [2]:
col_idx = ['A', 'B', 'C']
data = [10, 20, 30]
s2 = pd.Series(data, index=col_idx)
s2 # 판다스의 데이터타입: dtype

A    10
B    20
C    30
dtype: int64

In [4]:
s2[0] #인덱싱 표식

C:\Users\Admin\AppData\Local\Temp\ipykernel_14548\2132833784.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[0] #인덱싱 표식

np.int64(10)

In [8]:
s2['A':'C'] #슬라이싱, 인덱스 이름 기반 추출

A    10
B    20
C    30
dtype: int64

In [7]:
s2[0:3] #순서기반 인덱스

A    10
B    20
C    30
dtype: int64

In [9]:
dict_data = {'A': 10, 'B': 20, 'C': 30} #딕셔너리 키 = 시리즈 인덱스 
s3 = pd.Series(dict_data)

In [ ]:
s3.dtypes #객체의 속성

dtype('int64')

In [13]:
s3.info() #객체의 메소드

<class 'pandas.core.series.Series'>
Index: 3 entries, A to C
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

In [17]:
# 리스트로 시리즈 생성
data = [1, 2, 3, 4, 5]
s1 = pd.Series(data)
print(s1)

# 인덱스 지정하여 시리즈 생성
data = [1, 2, 3, 4, 5]
index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(data, index=index)
print(s2)

# 딕셔너리로 시리즈 생성 - 키가 인덱스가 됨
dict_data = {'a':1, 'b':2, 'c':3, 'd':4}
s3 = pd.Series(dict_data)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [14]:
population = pd.Series([9776, 2729, 1566, 3158], 
                    index=['서울', '부산', '인천', '대구'])
population

서울    9776
부산    2729
인천    1566
대구    3158
dtype: int64

In [18]:
print(population['서울'])  # 9776 출력
print(population[['서울', '부산']])  # 서울과 부산의 데이터만 선택
population[['서울', '인천']]
population[['대구']]

9776
서울    9776
부산    2729
dtype: int64

대구    3158
dtype: int64

In [23]:
population['제주'] = 400 #새로운 행 추가

In [24]:
population

서울    9776
부산    2729
인천    1566
대구    3158
제주     400
dtype: int64

# 데이터프레임 DataFrame

In [26]:
# 리스트로 데이터프레임 생성
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
pd.DataFrame(data, columns=['A', 'B', 'C'], index=['홍길동', '김길동', '박길동'])

     A  B  C
홍길동  1  2  3
김길동  4  5  6
박길동  7  8  9

In [33]:
pd.DataFrame({
  'name': names,
  'age' : ages,
  'score' : scores
})

  name  age  score
0  김철수   25     85
1  이영희   28     92
2  박민수   22     78

In [30]:
import numpy as np

arr = np.array([[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]])

In [31]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [32]:
# 시리즈 생성
names = pd.Series(['김철수', '이영희', '박민수'])
ages = pd.Series([25, 28, 22])
scores = pd.Series([85, 92, 78])

# 시리즈를 딕셔너리로 묶어 데이터프레임 생성
df = pd.DataFrame({
    '이름': names,
    '나이': ages,
    '점수': scores
})
print(df)

    이름  나이  점수
0  김철수  25  85
1  이영희  28  92
2  박민수  22  78

In [34]:
data = {
    '이름': ['김철수', '이영희', '박민수'],
    '나이': [25, 28, 22],
    '점수': [85, 92, 78]
}
df = pd.DataFrame(data)
print(df)

    이름  나이  점수
0  김철수  25  85
1  이영희  28  92
2  박민수  22  78

In [35]:
import pandas as pd

# 샘플 데이터프레임 생성
data = {
    '이름': ['김철수', '이영희', '박민수', '정수진', '최영호', '한미래', '윤지원'],
    '나이': [25, 28, 22, 31, 27, 24, 29],
    '점수': [85, 92, 78, 95, 88, 73, 91]
}
df = pd.DataFrame(data)

# 처음 5개 행 보기
print("=== head() ===")
print(df.head())

# 마지막 3개 행 보기
print("\n=== tail(3) ===")
print(df.tail(3))

# 데이터프레임 기본 정보
print("\n=== info() ===")
print(df.info())

# 기술 통계량
print("\n=== describe() ===")
print(df.describe())

=== head() ===
    이름  나이  점수
0  김철수  25  85
1  이영희  28  92
2  박민수  22  78
3  정수진  31  95
4  최영호  27  88

=== tail(3) ===
    이름  나이  점수
4  최영호  27  88
5  한미래  24  73
6  윤지원  29  91

=== info() ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      7 non-null      object
 1   나이      7 non-null      int64
 2   점수      7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 296.0+ bytes
None

=== describe() ===
              나이         점수
count   7.000000   7.000000
mean   26.571429  86.000000
std     3.101459   7.958224
min    22.000000  73.000000
25%    24.500000  81.500000
50%    27.000000  88.000000
75%    28.500000  91.500000
max    31.000000  95.000000